:root {
    --height: 65px;
    --depth: 6px;
    --color: #7fbb98;
    --text-color: #5f997f; 
    --lighten-on-hover: 7%;
    --button-speed: 0.06s;
    --timing-function: ease-out;
  }
  @font-face {
    font-family: 'JalnanGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.backimg{
    width: 100;
}
* {
	cursor: auto;
	scroll-behavior: smooth;
}


body {   
    margin: 0px;
    background-image: url('/img/purplesky.jpeg');
    background-size: cover;
    background-position: center;
    animation:back 0s ;
}
@keyframes back {
    0% { opacity: 0.1; }
    100% { opacity: 0.1; }
}


header {
    height: 100px;
    width: 100%;
    background-color: white;
    margin: 0px;
}

/* nav */
.btn{

    background-color: black;
}
.dropdown{
    padding-top: 10px;
}
nav{
    margin-top:100px;
    height: 60px;
    width: 100%;
    margin-left:auto;
    margin-right: auto;
    background-color: black;
    font-family: 'JalnanGothic';
}

.nav__menu{
  display: flex;
  font-size: 15px;
  margin-bottom: 0px;
  justify-content: center;
  column-gap: 100px;
}
.padingtest{
    color: white;
    margin-bottom: 100px;
  }
  .padingtest:hover {
    color: #2a69fa;
    font-size: 1.2em;
  }


/* 여기부터 event.css */
h1 { font-size: 66px; }
h2 { font-size: 50px; }
h3 { font-size: 45px; }
h4 { font-size: 40px; }
h5 { font-size: 35px; }
h6, p, b { font-size: 30px; }

/* top */
main {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'JalnanGothic';    
}

#top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;    
}

#intro {
    width: 1000px;
    margin-top: 20px;
    color: white;
}

#callback {
    font-size: 60px;
    font-weight: 900;
    text-shadow: none;
}

#review {
    width: 1000px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}

.slow-fade-in01 {
    opacity: 0;
    animation: fadeIn 7s ease-in-out forwards;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.slow-fade-in02 {
    opacity: 0;
    animation: fadeIn2 10s ease-in-out forwards;
}
@keyframes fadeIn2 {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.review_img03,.review_img02,.review_img01 {
    margin: 0;
    padding: 0;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px silver;
}

.review01,.review02,.review03 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 0px;
    gap: 10px;
    width: 100%;
}

.review__p {
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 150px;
    color: whitesmoke;
    border: 1px solid gray;
    border-radius: 15px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px silver;    
}


/* middle */
#middle__1, #middle__3{
    padding-top: 25px; 
    padding-bottom: 25px;
    width: 100%;
    height: auto;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#middle__1 p{
    text-align: center;
}

#event1{    
    width: 1350px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-image: url('/img/KakaoTalk_20231208_152527081.png');
    background-size: cover;
    background-position: center;
}

#event2{
    width: 1350px;
    height: 700px;
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('/img/KakaoTalk_20231208_152527081_01.png');
    background-size: cover;
    background-position: center;
}

#middle__2, #bottom{
    padding-top: 25px; 
    padding-bottom: 25px;
    width: 100%;
    height: auto;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#event3{
    width: 1000px;
    height: 500px;
    
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('/img/black-1072366_1280.jpg');
    background-size: cover;
    background-position: center;
    
    color: white;
    position: relative;
    >.front,
    >.back {
        display: block;
        transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
        transition-duration: .5s;
        transition-property: transform, opacity;
    }
    >.front {
        transform: rotateY(0deg);
    }
    >.back {
        position: absolute;
        opacity: 0;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        transform: rotateY(-180deg);
    }
    &:hover {
        >.front {
            opacity: 0;
            transform: rotateY(180deg);
        }
        >.back {
            opacity: 1;
            transform: rotateY(0deg);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }    
}  

#event4{    
    width: 1000px;
    height: 500px;
    border-radius: 30px;  

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('/img/paper-1074131_1280.jpg');
    background-size: cover;
    background-position: center;

    >.front,
    >.back {
        display: block;
        transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
        transition-duration: .5s;
        transition-property: transform, opacity;
    }
    >.front {
        transform: rotateX(0deg);
    }
    >.back {
        position: absolute;
        opacity: 0;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        transform: rotateX(-180deg);
    }
    &:hover {
        >.front {
            opacity: 0;
            transform: rotateX(180deg);
        }
        >.back {
            opacity: 1;
            transform: rotateX(0deg);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }    
}

/* 보령 */
#tx__2{
    color: pink;
    text-shadow: 8px 3px 3px black;
}

#tx__3{
    text-shadow: 8px 3px 3px black;
}

#tx__4{
    color: rgb(173, 41, 41);
}
#event5{
    width: 1000px;
    height: 800px;
    
    color: whitesmoke;
    text-shadow: 6px 3px 3px rgb(24, 14, 24);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.button1{
    width: 800px;
    height: 100px;
    border-radius: 15px;
    background-color: lightsilver;
    font-size: 35px;
}

.button {
    cursor: pointer;
    margin-left: 5px;
    margin-bottom: 15px;
    text-shadow: 0 -2px 0 #4a8a65, 0 1px 1px #c2dece;
    box-sizing: border-box;
    font-size: 2em;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    font-weight: bold;
    color: black;
    height: 65px;
    line-height: 65px;
    padding: 0 32.5px;
    display: inline-block;
    width: auto;
    background: linear-gradient(to bottom, #9ceabd 0%, #9ddab6 26%, #7fbb98 100%);
    border-radius: 5px;
    border-top: 1px solid #c8e2d3;
    border-bottom: 1px solid #c2dece;
    top: 0;
    transition: all 0.06s ease-out;
    position: relative;
    font-family: 'JalnanGothic';
  }
  .button:visited {
    color: black;
  }
  
  .button:hover {
    background: linear-gradient(to bottom, #baf1d1 0%, #b7e4ca 26%, #96c7ab 100%);
  }
  
  .button:active {
    top: 6px;
    text-shadow: 0 -2px 0 #7fbb98, 0 1px 1px #c2dece, 0 0 4px white;
    color: white;
  }
  .button:active:before {
    top: 0;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.7), 0 3px 9px rgba(0, 0, 0, 0.2);
  }
  
  .button:before {
    display: inline-block;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    top: 6px;
    border-radius: 5px;
    height: 65px;
    background: linear-gradient(to top, #1e5033 0%, #378357 6px);
    transition: all 0.078s ease-out;
    box-shadow: 0 1px 0 2px rgba(0, 0, 0, 0.3), 0 5px 2.4px rgba(0, 0, 0, 0.5), 0 10.8px 9px rgba(0, 0, 0, 0.2);
}

/* bottom */
#bottom {
    width: 100%;
    height: auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.warning {
    box-sizing: border-box;
    width: 1000px;
    height: 700px;
    color: rgb(32,38,85);
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 20px;
} 

#scrollBtn{
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    padding: 10px;
    color: #2a69fa;
    
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* footer */
footer {
    height: 450px;
    width: 1350px;
    margin: 0px;
    color: black;
    margin: 0 auto;
}

.footertest {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px;

}

.ft_ul {
    margin-top: 30px;
    list-style: none;
}

.ft_li {
    padding-top: 20px;
}

.reserve {
    text-align: center;
    padding-top: 10px;
    margin: 0 auto;
}